<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Page</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <section>
            <h1>This is the edit page!</h1>
            <section>
                <ul>
                    <% items.forEach(item => { %>
                        <% if (item._id == idItem) { %>
                        <li>
                            <form action="/edit/update/<%= item._id%>" method="POST">
                                <label for="textInput">Input Text</label>
                                <input type="text" name="textInput" value="<%= item.textInput %>">
                                <label for="numInput">Input Number</label>
                                <input type="number" name="numInput" value="<%= item.numInput %>">
                                <button type="submit">Confirm</button>
                                <a href="/">Cancel</a>
                            </form>
                        </li>
                        <% } else { %>
                        <li>
                            <div><%= item.textInput %></div>
                            <div><%= item.numInput %></div>
                            <a href="/edit/<%= item._id %>">Edit</a>
                            <a href="/">Cancel</a>
                            <!-- <a href="/edit/remove/<%= item._id %>">Cancel</a> -->
                        </li>
                        <% } %>
                    <% }) %>
                </ul>
            </section>
        </section>
    </body>
</html>